* {
    box-sizing: border-box;
}

#root {
    display: flex;
    flex-wrap: wrap;
}

#root>div {
    width: 600px;
}

.avatar {
    width: 100px;
    display: inline-block;
}

input, textarea {
    display: flex;
    margin: 20px;
    margin-top: 0;
    width: 500px;
    align-self: center;
}

form {
    width: 1000px;
    margin-top: 50px;
}
 label {
     margin: 20px;
 }

 .submit-button {
     width: 100px;
 }